body{
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#parent{
    height: 80px;
    width: 1260px;
    border: 2px solid white;
    box-shadow: 1px 3px 25px black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
}
#first{
    position: relative;
    top: 60px;
}
#parent>ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    position: relative;
    bottom: 55px;
    font-weight: bolder;
    gap: 60px;
    font-size: large;
}
img{
    position: relative;
    bottom: 2px;
    padding: 5px;
}
#demo{
    position: relative;
    right: -10px;
    bottom: 7px;
    cursor: context-menu;
}
#demo1{
    position: relative;
    top: -2px;
}
.demo2{
    cursor: pointer;
    color: black;
    text-decoration: none;
}
input{
    height: 35px;
    width: 340px;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0px 0px 2px black;
}
#but{
    position: relative;
    right: 19px;
    bottom: 11px;
    height: 40px;
    width: 130px;
    border-radius: 10px;
    font-size: 16px;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
}


#what{
    margin-top: 30px;
    margin-left: 160px;
    padding-left: 20px;
    margin-right: 160px;
    padding-right: 80px;
    height: 250px;
    border: 1px solid white;
    box-shadow: 0 1px 0px rgb(180, 178, 178) ;
    padding: 16px;
}
#what1{
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: context-menu;
}
#pic{
    display: flex;
    overflow-x: scroll;
    cursor: pointer;
}
#top{
    position: relative;
    top: 30px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: context-menu;
}
#pic2{
    display: flex;
    overflow-x: scroll;
}
.div1{
    margin-top: 50px;
    padding: 10px;
}
.cls{
    border-radius: 30px;
    cursor: pointer;
}
.cls1{
    font-family: "Arvo", serif;
    position: relative;
    left: 7px;
    padding: 2px;
    cursor: pointer;
}
.cls2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(90, 89, 89);
    padding: 2px;
    font-weight: bolder;
    position: relative;
    left: 7px;
    cursor: pointer;
}
.cls3{
    color: rgb(143, 140, 140);
    position: relative;
    padding: 2px;
    left: 7px;
    cursor: pointer;
}

#bottom{
    position: relative;
    top: 20px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: context-menu;
}
.pic3{
    height: 180px;
    width: 260px;
    border-radius: 30px;
    cursor: pointer;
}
#div2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 32px;
    padding: 21px;
}

#last{
    position: relative;
    top: 20px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: context-menu;
}
#last1{
    border-radius: 10px;
    height: 50px;
    width: 170px;
    position: relative;
    bottom: 40px;
    left: 580px;
    color: white;
    background-color: black;
    cursor: pointer;
}
#last2{
    border-radius: 10px;
    height: 50px;
    width: 170px;
    position: relative;
    bottom: 40px;
    left: 590px;
    color: white;
    background-color: black;
    cursor: pointer;
}





